body{
    font-family: 'Oswald', sans-serif;
    margin:0%;
}

.first-section{
    display: flex;   
}
.welcome{
    padding: 3%;
    width: 50%;
}
.welcome img{
    border-radius: 20%; 
    width:82% ; 
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
span{
    color: red;
}
strong{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-family: cursive;
    padding-right: 46px;
}
a {
  text-decoration:none;
  /* background-color: orange; */
  padding:5px 20px;
  border-style:outset;
  border-color:black;
  border-radius: 10px;
  border-width: px; 
  background-image: linear-gradient(orange, gold);

}
.first-section{
    background-image: url(image/blob2-haikei.png);
    background-repeat: no-repeat;
}
.second img{
    width: 82%;
    border-radius: 20%;
}
.second{
    width: 50%;
    padding: 3%;
}
.Dream-big{
    background-image: url(image/blob1-scatter-haikei.png);
    background-repeat:no-repeat ;
    background-position: right;
}
.three{
    display: flex;
} 
.bold{
    /* font-size: ; */
}
.rafi{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 0 26px;
    border-radius: 16px;
    margin: 14px 20px;
}
footer{
    text-align: center;
}
